extends layout

block content
  include ./steps.jade
  section.map
    #map-canvas
  div.search
    input#search.search(placeholder="Enter your Zip/State...")
    input#hobby.search(placeholder="Enter A Hobby...")
    button.search Search
    //TODO:show on desktop but hide on mobile
  div.results
    ul
      li Result1
      li Result2
