extends layout

block content
  include ./steps.jade
  section.map
    #map-canvas
  div.search
    input#place.search(placeholder="Enter your Zip/State...")
    input#hobby.search(placeholder="Enter A Hobby...")
    button#searchButton.search Search
    //TODO:show on desktop but hide on mobile
  div.results
    ul.results
      li Result1
      li Result2
      li Result3
