doctype html
html(lang="en")
  head
    meta(name="viewport", content="initial-scale=1.0")
    meta(charset="utf-8")
    title Where are the Events? - Home
    link(href="dist/css/main.css", rel="stylesheet", type="text/css")
  body
    header#header
      div.topnav
        ul.nav
          li.item
            a
          li.item.center
            h1 Where are the Events?
    #content
      block content

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="dist/components/jquery/dist/jquery.js")
    script(src="dist/js/googleMaps.js")
    script(src="dist/js/meetup.js")
    script(src="dist/js/lodash.js")
    script(src="dist/js/app.js")
