doctype html
html(lang="en")
  head
    meta(name="viewport", content="initial-scale=1.0")
    meta(charset="utf-8")
    title Where are the Events? - Home
    link(href="dist/components/normalize.css/normalize.css", rel="stylesheet", type="text/css")
    link(href="dist/css/main.css", rel="stylesheet", type="text/css")
  body
    header#header
        nav.nav
    div.banner-gradient
      div.banner
        div.title
          h1.title Where are the Events?
        div.search-form
          input#hobby.search.nav(placeholder="Enter A topic")
          input#zip.search.nav(placeholder="Zip Code")
          button#searchButton.search.nav Search
    section.section-1
      p Easily find Meetup events based off of your location.
      p Powered by GoogleMaps API and MeetupAPI


    #content
      block content

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="dist/components/jquery/dist/jquery.js")
    script(src="dist/components/moment/moment.js")
    script(src="dist/js/lodash.js")
    script(src="dist/js/googleMaps.js")
    script(src="dist/js/meetup.js")
    script(src="dist/js/app.js")
