doctype html
html(lang="en")
  head
    meta(name="viewport", content="initial-scale=1.0", user-scalable="no")
    meta(charset="utf-8")
    title Where are the events?
    script(src="components/jquery/dist/jquery.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="js/googleMaps.js")
    script(src="js/meetup.js")
  body
    h1 Where are the Events?
    #content
      block content
